@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    width: 385px;
    height: 3300px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    
}

header {
    background-image: url(../images/bg-hero-mobile.svg);
    background-color: hsl(193, 100%, 96%);
    color: hsl(192, 100%, 9%);
    width: 375px;
    height: 765px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-top: 40px;
    margin-left: 18px;
}

.huddle {
    width: 115px;
    height: 17px;
}

.topright {
    background-color: hsl(0, 0%, 100%);
    color: hsl(192, 100%, 9%);
    font-weight: bold;
    font-size: 13px;
    width: 108px;
    height: 28px;
    margin-left: 118px;
    border-radius: 20px;
}

.col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col1 > h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin: 35px 35px 15px 25px;
}

.col1 > p {
    font-size: 16px;
    text-align: center;
    margin: 20px 30px 30px 30px;
}

button {
    background-color: hsl(322, 100%, 66%);
    color: hsl(0, 0%, 100%);
    width: 245px;
    height: 45px;
    border-radius: 30px;
    margin-bottom: 50px;
}

.himg {
    width: 305px;
    height: 213px;
    margin-left: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    color: hsl(208, 11%, 55%);
    }

.box1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 365px;
    height: 500px;
    margin-top: 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.329);
}

.txt > h2 {
    color: hsl(192, 100%, 9%);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 15px;
}

.txt > p {
    font-size: 15px;
    text-align: center;
    margin: 0px 45px;
}

.box2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 365px;
    height: 500px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.329);
}

.box3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 365px;
    height: 500px;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.329);
}

.img {
    width: 290px;
    height: 230px;
    margin: 15px;
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.centerbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 365px;
    height: 190px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px -8px rgba(0, 0, 0, 0.329);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 500px;
}

.centerbox > h2 {
    color: hsl(192, 100%, 9%);
    font-size: 17px;
    text-align: center;
    border-radius: 20px;
}

.centerbox > button {
    margin: 10px 0px;
}

.footer {
    background-color: hsl(192, 100%, 9%);
    color: hsl(0, 0%, 100%);
    width: 375px;
    height: 1200px;
    font-size: 12pt;
    padding-top: 55px;
    margin-top: 200px;
}

.huddle2 {
    display: flex;
    flex-direction: row;
    filter: brightness(12);
    width: 155px;
    height: 25px;
    margin: 50px 0px 20px 0px;
  }

.f1 {
    margin-left: 35px;
    margin-top: 120px;
    line-height: 30px;
}

.f1 > p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.f2 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 35px;
}


.f21 > a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    line-height: 30px;
}

.f22 > a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    line-height: 30px;
}

.cred {
    margin: 30px;
}