@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;0,700;1,800&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

main {
    font-family: 'Hanken Grotesk', sans-serif;

}

.box {
    display: block;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    width: 375px;
    height: 580px;
    margin-top: 15px;
    text-align: center;
    font-weight: 400;
    border-radius: 10px 10px 10px 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

}

.blue {
    display: block;
    background-image: linear-gradient(to top, hsl(241, 81%, 54%),hsl(252, 100%, 67%));
    color: white;
    width: 375px;
    height: 215px;
    border-radius: 0px 0px 15px 15px;
    padding-top: 20px;
    padding-bottom: 40px;
    
}

.blue > p {
    color: hsl(241, 100%, 89%);
    font-size: 14px;
    margin: 5px 60px 15px 60px;
}

.blue > h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.circle {
    display: flex;
    margin: auto;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 100px;
    height: 100px;
    border-radius: 50%;

    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.circle > p {
    font-size: 12px;
    color: hsl(241, 45%, 79%);
}

.white {
    background-color: hsl(0, 0%, 100%);
    color: hsl(225, 30%, 23%);
    padding: 10px;
    text-align: left;
    text-indent: 15px;
    font-size: 14px;
}

.white > p {
    color: hsl(241, 100%, 89%);
    font-size: 14px;
    margin: 20px;
}

.white > i {
    display: inline;
    margin: 1px;
}

.box1 {
    display: flex;
    background-color: hsla(0, 97%, 72%, 0.116);
    height: 40px;
    width: 330px;
    border-radius: 10px;
    margin: 10px;

    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.box1 > b {
    color:hsl(0, 100%, 67%);
} 

.box1 > p {
    color:hsl(241, 37%, 65%);
}

.box1 > p > b {
    color: hsl(224, 30%, 27%);
}

.box2 {
    display: flex;
    background-color: hsla(39, 100%, 46%, 0.126);
    height: 40px;
    width: 330px;
    border-radius: 10px;
    margin: 10px;

    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.box2 > b {
    color: hsl(39, 100%, 56%);
}

.box2 > p {
    color: hsl(241, 37%, 65%);
}

.box2 > p > b {
    color: hsl(224, 30%, 27%);
}

.box3 {
    display: flex;
    background-color: hsla(166, 61%, 42%, 0.075);
    height: 40px;
    width: 330px;
    border-radius: 10px;
    margin: 10px;

    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;    
}

.box3 > b {
    color: hsl(166, 100%, 37%);
}

.box3 > p {
    color: hsl(241, 37%, 65%);
}

.box3 > p > b {
    color: hsl(224, 30%, 27%);
}

.box4 {
    display: flex;
    background-color: hsla(234, 52%, 56%, 0.11);
    height: 40px;
    width: 330px;
    border-radius: 10px; 
    margin: 10px;

    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.box4 > b {
    color: hsl(234, 85%, 45%);  
}

.box4 > p {
    color: hsl(241, 37%, 65%);
}

.box4 > p > b {
    color: hsl(224, 30%, 27%);
}

.button {
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    height: 40px;
    width: 330px;
    border-radius: 25px;
    margin: 10px;
}
