@charset "UTF-8";

@media screen and (min-width:768px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    .box {
        display: block;
        margin: auto;
        background-color: hsl(0, 0%, 100%);
        background-image: url(images/bg-pattern-card.svg);
        background-position: top center;
        background-repeat: repeat-x;
        background-size: 410px;
        width: 460px;
        height: 450px;
        line-height: 30px;
        margin-top: 10px;
        border-radius: 10px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
} 

.pic {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.board {
    margin-top: 105px;
    margin-left: 10px;
    width: 110px;
    height: 110px; 
    border-radius: 50%; 
    background-color: hsl(0, 0%, 100%);
}

.img {
    margin-top: 108px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: -105px;
}

.name {
    display: flex;
    margin-top: 25px;
    font-size: 13px;
    margin-left: 170px;
    flex-direction: row;
}

.age {
    color: hsl(227, 10%, 46%);
    font-size: 18px;
    letter-spacing: 1px;
}

.white > p {
    margin-left: 210px;
    margin-bottom: 30px;
}

.line {
    width: 460px;
    border-top: 1px solid hsla(0, 0%, 39%, 0.26);
  }

.info {
    display: flex;
    margin-top: 30px;
    margin-left: 90px;
    flex-direction: row;
}

.num {
    display: flex;
    width: 90px;
    height: 80px;
    margin: 0px 5px;
    flex-direction: column;
    align-items: center;
}

.num > h3 {
    font-size: 20px;
}

.num > p {
    letter-spacing: 1px;
    font-size: 13px;
}

}