@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(204, 43%, 93%);;
}

.box {
    background-color: white;
    width: 750px;
    height: 500px;
    border-radius: 10px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% -50%);
}

.one > h3 {
    margin-top: 40px;
}

.one > p {
    margin-bottom: 20px;
}

.ciano {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.two {
    width: 375px;
    height: 255px;
    border-radius: 0px 0px 0px 10px;
}

.three {
    width: 375px;
    height: 255px;
    border-radius: 0px 0px 10px 0px;
}