@charset "UTF-8";

/*TODAS AS TELAS*/

@media screen and (min-width:768px) {
    
    * {
        margin: 0px;
        padding: 0px;
    }

    .box {
        margin: auto;
        margin-top: 5px;
        background-color: white;
        width: 575px;
        height: 400px;
        border-radius: 10px;
    }

    .perfume1 {
        width: 275px;
        height: 400px;
        border-radius: 10px 0px 0px 10px;
    }

    .perfume2 {
        display: none;
    }

    .box >h1 {
        color: hsl(212, 21%, 14%);
        font-family: 'Fraunces', serif;
        margin: 18px;
    }


    
}