@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500&display=swap');



* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
}

.perfume {
    width: 375px;
    height: 260px;

}

.box {
    display: block;
    background-color: white;
    width: 375px;
    height: 625px;
    border-radius: 10px;
}

.box > h1 {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    margin: 18px;
}

.box > p {
    color:hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    margin: 12px;
}

.money {
    color: hsl(158, 28%, 39%);
}

.button {
    width: 200px;
    height: 50px;
    margin: 5px;
    padding: 5px;
    background-color: hsl(158, 28%, 39%);
    color: white;
    font-family:'Montserrat', sans-serif;
    border-bottom: none;
    border-radius: 10px;
;

}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }